<!-- Use a case statement on the params to determine what to display -->
<% case @choice %>
<% when "supplies" %>

	<div>
		<p>These supplies are in my pack:</p>
		<% @supplies.each do |item| %>
			<p><%= item.name %></p>
		<% end %>
	</div>

<% when "book" %>
	<p>These are the pages in the book:</p>
	<% @book.each do |key, value| %>
		<p><%= key %></p>
		<pre><%= value %></pre>
	<% end %>
	
<% when "list" %>
	<p>Type "give" to give away a supply.</p>
<% end %>
<div>
<p>---------------------------------------------</p>
<p>Press the back button to return to the story.</p>
</div>
