<!-- Use a case statement on the params to determine what to display -->
<% case @choice %>
<% when "supplies" %>

<!-- if the user input was supplies, iterate through the supplies array and display the names -->
	<div>
		<p>These supplies are in my pack:</p>
		<% @supplies.each do |item| %>
			<p><%= item.name %></p>
		<% end %>
	</div>

<!-- if the user input was book, iterate through the book hash displaying key and value -->
<% when "book" %>
	<p>These are the pages in the book:</p>
	<% @book.each do |key, value| %>
		<p><%= key %></p>
		<pre><%= value %></pre>
	<% end %>
	
<!-- if the user input was list, show text. -->	
<% when "list" %>
	<p>Type "give" to give away a supply.</p>
<% end %>

<p>---------------------------------------------</p>
<p>Press the back button to return to the story.</p>
