<p>As you approach the door, you see a complex series of colored stones in red, black, yellow, and blue.  You push on the door but can find no way to open it.  As you poke and prod, you discover that some of the stones can be moved.  Perhaps they form some kind of combination lock!  But what could the lock be?  You must think of how many stones to press and which colors....</p>

<p>Type the color names in the correct order, with a space between each name.  Press enter when complete.</p>

<p><%= @incorrect %></p>

<div>
	<p><input type="text" id="input" autofocus></input></p>
	
</div>

<script type="text/javascript">
	
	$("#input").change(function(){
		var choice = $(this).val().toLowerCase();
		var url = "<%= door_path %>" + "?input=" + choice;
		window.location = url;
		})

</script> 