<!-- display one of the possible story endings. -->
<p><%= @boat %></p>
<h2><%= @win %></h2>
<p><%= @ending %></p>
<p></p>
<p>------------------------------------------------------------</p>
<p>Press the back button to go your last decision point.</p>