<p><%= @directions %></p>
<p>--------------------------------------------------------------------</p>

<!-- Display story text -->
<p><%= @right %></p>

<!-- Display response to input -->
<p><%= @invalid %></p>

<!-- text box for user input -->
<p><input type="text" id="input" autofocus></input></p>

<!-- user input is passed to the controller with params -->
<script type="text/javascript">
	
	$("#input").change(function(){
		var choice = $(this).val().toLowerCase();
		var url = "<%= hall_path %>" + "?input=" + choice;
		window.location = url;
		})

</script> 