<p><%= @directions %></p>
<p>--------------------------------------------------------------------</p>

<div>
	<p><%= @right %></p>
</div>

<p><input type="text" id="input" autofocus></input></p>

<script type="text/javascript">
	
	$("#input").change(function(){
		var choice = $(this).val().toLowerCase();
		var url = "<%= hall_path %>" + "?input=" + choice;
		window.location = url;
		})

</script> 