	<div id = "start">
	<h2>The Lost Treasure of Z</h2>
		<p></p>
		<!-- display the beginning of the story in the first div -->
		<p>You are in a junk store in South America, when you stumble upon the journal of Sir Reginald Higginbotham, the famous explorer, who disappeared many years ago, searching for the lost treasure of Z.  Sir Reginald was last seen in this very town, and what happened to him has long been a mystery. No one had found a trace of even his leather hat.  Leafing through the pages, you find that many of them are smeared and difficult to read.  You can make out a few words.</p>

	  <pre>
			<%=@book["page1"]%>
		</pre>

		<p>Most interesting of all is a sketch in the back of the book.</p>

		<pre>
			<%=@book["sketch"]%>
		</pre>

		<p>Could this be a map to the treasure?  Do you dare try and find it?  Will you avoid the fate of Sir Reginald???  To search for the treasure, type yes and press enter. If you choose not to go on the hunt, type no and press enter.</p>
	<div>
		<%= @invalid %>
	</div>
<!-- Get user response-->
<p><input type="text" id="menu1"></input></p>
</div>


<script type="text/javascript">
	$("#menu1").change(function(){
		var choice = $(this).val().toLowerCase();
		var url = "<% root_path %>" + "?input=" + choice
		window.location.replace(url)
		})

</script> 