<p><%= @directions %></p>
<p>--------------------------------------------------------------------</p>

<p><%= @river %></p>

<p><input type="text" id="input" autofocus></input></p>

<script type="text/javascript">
	$("#input").change(function(){
		var choice = $(this).val().toLowerCase();
		var url = "<% river_path %>" + "?input=" + choice;
		window.location =url;
		})

</script> 