<p>As you walk, Atilio tries to convince you not to cross the river.  He tells you stories of those who had disappeared beyond its banks, never to return again.  He says those few warriors who returned all told crazy stories of red eyes and wide yellow mouths. When you finally reach the wide, deep river, you see two options for getting across.  There is a rickety rope bridge or a dilapidated boat.  Which crossing will you choose?  Type boat or bridge.</p>

<p><input type="text" id="input" autofocus></input></p>

<script type="text/javascript">
	$("#input").change(function(){
		var choice = $(this).val().toLowerCase();
		var url = "<% river_path %>" + "?input=" + choice;
		window.location =url;
		})

</script> 