<p><%= @directions %></p>
<p></p>

<p><%= @temple %></p>

<div>
	<p><%= @invalid%></p>
	<p></p>
</div>

<p><input type="text" id="input" autofocus></input></p>

<script type="text/javascript">
	$("#input").change(function(){
		var choice = $(this).val().toLowerCase();
		var url = "<%= temple_path %>" + "?input=" + choice;
		window.location = url;
		})

</script> 